<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="4" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/"/>
		<classes>		    
		    <class name="ru.st.selenium.CreateDiscriptionFilmtest"></class>
		    <class name="ru.st.selenium.CreateDiscriptionFilmWithOutTitletest"></class>
		    <class name="ru.st.selenium.CreateDiscriptionFilmWithOutYeartest"></class>
		    <class name="ru.st.selenium.RemoveDisctiptionFilm"></class>
		    
		</classes>
	</test>  
</suite>